<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width-device-width" />
</head>
<body>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:640px;border:1px solid gray;background-color:#808080">
            <div class="list-group">
                <div class="list-group-item">
                    @Html.ActionLink("Add Category", "AddCategory", new { @class = "list-group-item" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Add Questions", "AddQuestions", new { @class = "list-group-item" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Logout", "TeacherLogout", new { @class = "list-group-item" })
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height:640px;border:1px solid gray">
            @RenderBody()
        </div>
    </div>
</body>
</html>
